## [Start] Setting "isSubscribed" to default value of "false". **
$util.qr($context.args.input.put("isSubscribed", $util.defaultIfNull($ctx.args.input.isSubscribed, false)))
## [End] Setting "isSubscribed" to default value of "false". **
{}